# Virtual environment
venv/

# Python cache files
__pycache__/
*.pyc

# Firebase credentials
firebase_key.json

# Environment config
.env

# Editor settings (optional but recommended)
.vscode/
.idea/

# OS system files
.DS_Store
Thumbs.db

database.db
blockchain.json