# Virtual environment
venv/
env/

# Python cache files
*.pyc
*.pyo
*.pyd

# Firebase credentials
instance/firebase_config.json
instance/firebase_key.json

# Environment config
.env

# Editor settings (optional but recommended)
.vscode/
.idea/

# OS system files
.DS_Store
Thumbs.db